/**Main Stuff**/

h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color:rgb(202, 193, 180);
    text-align: center;
}

article>div {
    border: solid 4px rgb(0, 0, 0);
}

article {
    display: flex;
    text-align: center;
}

div {
    display: block;
}

/**Basic Flex Stuff**/
.flex-item {
    background-color: black;
    color: white;
    max-width: 10%;
    padding: 1em;
    font-size: 2em;
    margin: 1em;
}

.flex-items-container {
    display: flex;
    padding: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

/**Column**/

#flex-direction-column {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/**Flex Wrap**/
#flex-wrap {
    flex-wrap: wrap;
}

/**Flex Center**/
#justify-center {
    justify-content: center;
}

/**Flex Grow**/
#flex-grow {
    max-width: unset;
}

/**Flex Align**/

#flex-align {
    flex-wrap: wrap;
    min-height: 50vh;
}
